.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 100%;
  max-width: 220px;
  background-color: transparent;
  margin: 0 10px 10px;
  border: solid 2px #ccc;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: color .4s ease-out, background-color .4s ease-out;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    background-color: #ccc;
    color: #fff;
  }
}