.list-item {
  width: 100%;
  padding: 16px 37px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  transition: background-color .4s ease-out;

  &:hover {
    background-color: #eee;
  }
  &.success{
    background-color: #f6f6f6;
  }

  &__content {
    font-size: 20px;
    padding-top: 5px;

    p {
      margin: 0 0 5px;
    }

    b, span {
      font-weight: 700;
    }
  }

  &__btn {
    width: 176px;
    min-width: 176px;
    margin-left: 20px;
    height: 45px;
    background-color: #95c218;
    font-size: 21px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 3px;
    transition: background-color .4s ease-out;
    cursor: pointer;

    &:hover {
      background-color: #a7d91b;
    }
  }
}