.found-count {
  width: 110px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fedf00;
  min-width: 110px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;

  img {
    width: 51px;
    height: auto;
  }

}