.search {
  margin-bottom: 31px;

  &__input {
    width: 100%;
    height: 80px;
    display: block;
    margin: 0;
    padding: 0 48px;
    border: solid 1px #f6f6f6;
    font: inherit;
    vertical-align: baseline;
    background-color: #eee;
    color: #9d9d9b;
    font-size: 30px;
  }

}

input::-moz-placeholder {
  color: #9d9d9b;
  font-size: 30px;
}

input::-webkit-input-placeholder {
  color: #9d9d9b;
  font-size: 30px;
}

input:-moz-placeholder {
  color: #9d9d9b;
  font-size: 30px;
}

input::-ms-input-placeholder {
  color: #9d9d9b;
  font-size: 30px;
}