.guests {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;

  &__wrap {
    width: 100%;
    max-width: 910px;
    padding: 55px 45px 40px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, .61);
    background-color: #fff;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 55px;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding:40px 20px 20px;
    border-top: solid 1px #ccc;
    margin-top: 10px;
  }

}